


canvas {
    border:1px solid #d3d3d3;
}


.canvasContainer {
    margin-top: 20px;
    width:50%;
    display: inline-block;
}

.canvasDataContainer {
    margin-top: 20px;
    width:49%;
    display: inline-block;
    vertical-align: top;
    height: 800px;
    overflow: auto;
    max-height: 70vh;
}

.cardBackImage, .cardFrontImage {
    visibility: hidden;
    display: none;
}


.panel {
    border: 1px solid gray;
    padding: 0 15px;
    margin-bottom: 15px;
}

.panel-heading {
    position: relative;
    top: -15px;    
    display: inline-block;
    width:100%;
}

.panel-heading span:first-child {
    background-color: white;
    padding: 0 5px;    
}

.panel-heading div {
    width: 49%;
    display: inline-block;
}

.panel-heading div:last-child {
    text-align: right;
}

.layer-ctrl {
    cursor: pointer;
}



.w100 {
    width:100%;
}

#btnCardFrontLoad {
    margin-top: 15px;
}

.size-buttons {
    margin-bottom: 25px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background-color: green;
}

.hidden{
    display: none;
}

.buttons-container {
    text-align: right;
}

#sampleCard {
    margin-top: 25px;
}

.form-inline label {
    width: 60px;
}

.form-inline .form-control {
    width: 90px;
    margin: 0 5px;
}

.form-inline .form-control.cardFrontFont {
    width: 250px;
}

.form-inline .form-control.cardFrontText, .form-inline .form-control.cardFrontUrl {
    width: 410px;
}

.container {
    width: 1140px;
}

#card-list {
    width:100%;
    max-height: 80vh;
    overflow: auto;
}