


canvas {
    border:1px solid #d3d3d3;
}


.canvasContainer {
    margin-top: 20px;
    width:50%;
    display: inline-block;
}

.canvasDataContainer {
    margin-top: 20px;
    width:49%;
    display: inline-block;
    vertical-align: top;
}

.cardBackImage, .cardFrontImage {
    visibility: hidden;
    display: none;
}


.panel {
    border: 1px solid lightgray;
    padding: 0 15px;
    margin-bottom: 15px;
}

.panel-heading {
    position: relative;
    top: -15px;
    background-color: white;
    color: gray;
    display: inline-block;
}

.w100 {
    width:100%;
}

#btnCardFrontLoad {
    margin-top: 15px;
}

.size-buttons {
    margin-bottom: 25px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background-color: green;
}

.hidden{
    display: none;
}

#card-list-buttons {
    text-align: right;
}

#sampleCard {
    margin-top: 25px;
}


